<h1>Question Paper</h1>


 

    <% @ttest_questions.each do |ttest_question| %>

         Question<%= ttest_question.question %></br>
         Option A<%= ttest_question.option_a %></br>
         Option B<%= ttest_question.option_b %></br>
         Option C<%= ttest_question.option_c %></br>
         Option D<%= ttest_question.option_d %></br>
         <%= will_paginate @ttest_questions %>
          
    <% end %>


<br>


