<p id="notice"><%= notice %></p>

<ul>
  <% @ttest_question.relation_questions.each do |ttest_question|%>
  <li>
<p>
  <strong>Question:</strong>
  <%= ttest_question.question %>
</p>

<p>
  <strong>Option a:</strong>
  <%= ttest_question.option_a %>
</p>

<p>
  <strong>Option b:</strong>
  <%= ttest_question.option_b %>
</p>

<p>
  <strong>Option c:</strong>
  <%= ttest_question.option_c %>
</p>

<p>
  <strong>Option d:</strong>
  <%= ttest_question.option_d %>
</p>
</li>
<% end %>
</ul>