<!DOCTYPE html>
<html>
<head>
  <title>Erecruitment</title>
 <%= stylesheet_link_tag "applications", :media => "all" %>
<%= javascript_include_tag "applications" %>
<%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<%= yield %>
</body>
</html>

